.highslide-container div {
	font-family: Verdana, Helvetica; font-size: 10pt;
}
.highslide-container table {
	background: none;
}
.highslide {
	text-decoration: none;
}
.highslide img {
	border: 0px solid silver; border-image: none;
}
.highslide:hover img {
	border-color: gray;
}
.highslide-active-anchor img {
	visibility: hidden;
}
.highslide-gallery .highslide-active-anchor img {
	border-color: black; visibility: visible; cursor: default;
}
.highslide-image {
	background: gray; border: 2px solid white;
}
.highslide-wrapper {
	background: white;
}
.highslide-outline {
	background: white;
}
.glossy-dark {
	background: rgb(17, 17, 17);
}
.highslide-image-blur {
	
}
.highslide-number {
	color: gray; font-size: 0.9em; font-weight: bold;
}
.highslide-caption {
	padding: 5px; text-align: left; color: rgb(0, 0, 0); font-size: 1em; display: none;
}
.highslide-heading {
	margin: 0.4em; color: rgb(0, 0, 0); font-weight: bold; display: none;
}
.highslide-dimming {
	background: black; position: absolute;
}
a.highslide-full-expand {
	background: url("graphics/fullexpand.gif") no-repeat; margin: 0px 10px 10px 0px; width: 34px; height: 34px; display: block;
}
.highslide-loading {
	background-position: 3px 1px; padding: 3px 3px 3px 22px; border: 1px solid white; border-image: none; color: black; text-transform: uppercase; font-size: 9px; font-weight: bold; text-decoration: none; display: block; background-image: url("graphics/loader.white.gif"); background-repeat: no-repeat; background-color: white;
}
a.highslide-credits {
	padding: 2px; color: silver; font-size: 10px; text-decoration: none;
}
a.highslide-credits i {
	padding: 2px; color: silver; font-size: 10px; text-decoration: none;
}
a.highslide-credits:hover {
	color: white; background-color: gray;
}
a.highslide-credits:hover i {
	color: white; background-color: gray;
}
.highslide-move {
	cursor: move;
}
.highslide-move * {
	cursor: move;
}
.highslide-viewport {
	background: none; left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 1;
}
.highslide-overlay {
	display: none;
}
.hidden-container {
	display: none;
}
.closebutton {
	background: url("graphics/close.png"); left: 15px; top: -15px; width: 30px; height: 30px; position: relative; cursor: pointer;
}
.highslide-gallery ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
.highslide-gallery ul li {
	background: rgb(237, 237, 237); margin: 2px; border: 1px solid silver; border-image: none; width: 106px; height: 106px; line-height: 0; overflow: hidden; float: left; display: block; position: relative;
}
.highslide-gallery ul a {
	left: 50%; top: 50%; position: absolute;
}
.highslide-gallery ul img {
	left: -50%; top: -50%; position: relative;
}
html > body .highslide-gallery ul li {
	text-align: center; display: table;
}
html > body .highslide-gallery ul li {
	text-align: center;
}
html > body .highslide-gallery ul a {
	vertical-align: middle; display: table-cell; position: static;
}
html > body .highslide-gallery ul img {
	position: static;
}
.highslide-controls {
	background: url("graphics/controlbar-white.gif") no-repeat 0px -90px; margin: 20px 15px 10px 0px; width: 195px; height: 40px;
}
.highslide-controls ul {
	background: url("graphics/controlbar-white.gif") no-repeat right -90px; list-style: none; margin: 0px; padding: 0px; left: 15px; height: 40px; position: relative;
}
.highslide-controls li {
	margin: 0px; padding: 5px 0px; float: left;
}
.highslide-controls a {
	width: 30px; height: 30px; float: left; display: block; background-image: url("graphics/controlbar-white.gif");
}
.highslide-controls a.disabled {
	cursor: default;
}
.highslide-controls a.disabled span {
	cursor: default;
}
.highslide-controls a span {
	display: none; cursor: pointer;
}
.highslide-controls .highslide-previous a {
	background-position: 0px 0px;
}
.highslide-controls .highslide-previous a:hover {
	background-position: 0px -30px;
}
.highslide-controls .highslide-previous a.disabled {
	background-position: 0px -60px !important;
}
.highslide-controls .highslide-play a {
	background-position: -30px 0px;
}
.highslide-controls .highslide-play a:hover {
	background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
	background-position: -60px 0px;
}
.highslide-controls .highslide-pause a:hover {
	background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
	background-position: -90px 0px;
}
.highslide-controls .highslide-next a:hover {
	background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
	background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
	background-position: -120px 0px;
}
.highslide-controls .highslide-move a:hover {
	background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
	background-position: -150px 0px; display: none;
}
.highslide-controls .highslide-full-expand a:hover {
	background-position: -150px -30px; display: none;
}
.highslide-controls .highslide-full-expand a.disabled {
	background-position: -150px -60px !important; display: none;
}
.highslide-controls .highslide-close a {
	background-position: -180px 0px;
}
.highslide-controls .highslide-close a:hover {
	background-position: -180px -30px;
}
.highslide-maincontent {
	display: none;
}
.highslide-html {
	background-color: white;
}
.highslide-html-content {
	padding: 0px 5px 5px; width: 800px; display: none;
}
.highslide-header {
	padding-bottom: 5px;
}
.highslide-header ul {
	margin: 0px; padding: 0px; text-align: right;
}
.highslide-header ul li {
	padding-left: 1em; display: inline;
}
.highslide-header ul li.highslide-previous {
	display: none;
}
.highslide-header ul li.highslide-next {
	display: none;
}
.highslide-header a {
	color: gray; text-transform: uppercase; font-weight: bold; text-decoration: none;
}
.highslide-header a:hover {
	color: black;
}
.highslide-header .highslide-move a {
	cursor: move;
}
.highslide-footer {
	height: 16px;
}
.highslide-footer .highslide-resize {
	background: url("graphics/resize.gif") no-repeat; width: 11px; height: 11px; margin-top: 5px; float: right; display: block;
}
.highslide-footer .highslide-resize span {
	display: none;
}
.highslide-body {
	
}
.highslide-resize {
	cursor: nw-resize;
}
.draggable-header .highslide-header {
	height: 18px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.draggable-header .highslide-heading {
	margin: 2px 0.4em; position: absolute;
}
.draggable-header .highslide-header .highslide-move {
	top: 0px; width: 100%; height: 16px; right: 24px; display: block; position: absolute; z-index: 1; cursor: move;
}
.draggable-header .highslide-header .highslide-move * {
	display: none;
}
.draggable-header .highslide-header .highslide-close {
	padding: 0px; top: 2px; right: 2px; position: absolute; z-index: 2;
}
.draggable-header .highslide-header .highslide-close a {
	width: 16px; height: 16px; display: block; background-image: url("graphics/closeX.png");
}
.draggable-header .highslide-header .highslide-close a:hover {
	background-position: 0px 16px;
}
.draggable-header .highslide-header .highslide-close span {
	display: none;
}
.draggable-header .highslide-maincontent {
	padding-top: 1em;
}
.titlebar .highslide-header {
	height: 18px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.titlebar .highslide-heading {
	margin: 1px 0.4em; color: rgb(102, 102, 102); position: absolute;
}
.titlebar .highslide-header .highslide-move {
	top: 0px; width: 100%; height: 16px; right: 24px; display: block; position: absolute; z-index: 1; cursor: move;
}
.titlebar .highslide-header .highslide-move * {
	display: none;
}
.titlebar .highslide-header li {
	padding: 0px 0px 0px 1em; top: 3px; position: relative; z-index: 2;
}
.titlebar .highslide-maincontent {
	padding-top: 1em;
}
.no-footer .highslide-footer {
	display: none;
}
.wide-border {
	background: white;
}
.wide-border .highslide-image {
	border-width: 10px;
}
.wide-border .highslide-caption {
	padding: 0px 10px 10px;
}
.borderless .highslide-image {
	border: currentColor; border-image: none;
}
.borderless .highslide-caption {
	background: silver; border-top-color: white; border-bottom-color: white; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.outer-glow {
	background: rgb(68, 68, 68);
}
.outer-glow .highslide-image {
	border: 5px solid rgb(68, 68, 68); border-image: none;
}
.outer-glow .highslide-caption {
	border-width: medium 5px 5px; border-style: none solid solid; border-color: currentColor rgb(68, 68, 68) rgb(68, 68, 68); padding: 5px; border-image: none; background-color: gray;
}
.colored-border {
	background: white;
}
.colored-border .highslide-image {
	border: 2px solid green; border-image: none;
}
.colored-border .highslide-caption {
	border-width: medium 2px 2px; border-style: none solid solid; border-color: currentColor green green; border-image: none;
}
.dark {
	background: rgb(17, 17, 17);
}
.dark .highslide-image {
	background: gray; border-color: black black rgb(32, 32, 32);
}
.dark .highslide-caption {
	background: rgb(17, 17, 17); color: white;
}
.dark .highslide-controls {
	background-image: url("graphics/controlbar-black-border.gif");
}
.dark .highslide-controls ul {
	background-image: url("graphics/controlbar-black-border.gif");
}
.dark .highslide-controls a {
	background-image: url("graphics/controlbar-black-border.gif");
}
.floating-caption .highslide-caption {
	background: none; padding: 1em 0px 0px; border: currentColor; border-image: none; color: white; font-weight: bold; position: absolute;
}
.controls-in-heading .highslide-heading {
	background: url("graphics/icon.gif") no-repeat 0px 1px; margin: 0px; padding: 0px 0px 0px 22px; height: 20px; color: gray; overflow: hidden; font-weight: bold; cursor: default;
}
.controls-in-heading .highslide-controls {
	background: none; margin: 0px; left: 7px; top: -23px; width: 105px; height: 20px; position: relative;
}
.controls-in-heading .highslide-controls ul {
	background: none; height: 20px; position: static;
}
.controls-in-heading .highslide-controls li {
	padding: 0px;
}
.controls-in-heading .highslide-controls a {
	width: 20px; height: 20px; background-image: url("graphics/controlbar-white-small.gif");
}
.controls-in-heading .highslide-controls .highslide-move {
	display: none;
}
.controls-in-heading .highslide-controls .highslide-previous a {
	background-position: 0px 0px;
}
.controls-in-heading .highslide-controls .highslide-previous a:hover {
	background-position: 0px -20px;
}
.controls-in-heading .highslide-controls .highslide-previous a.disabled {
	background-position: 0px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-play a {
	background-position: -20px 0px;
}
.controls-in-heading .highslide-controls .highslide-play a:hover {
	background-position: -20px -20px;
}
.controls-in-heading .highslide-controls .highslide-play a.disabled {
	background-position: -20px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-pause a {
	background-position: -40px 0px;
}
.controls-in-heading .highslide-controls .highslide-pause a:hover {
	background-position: -40px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a {
	background-position: -60px 0px;
}
.controls-in-heading .highslide-controls .highslide-next a:hover {
	background-position: -60px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a.disabled {
	background-position: -60px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-full-expand a {
	background-position: -100px 0px; display: none;
}
.controls-in-heading .highslide-controls .highslide-full-expand a:hover {
	background-position: -100px -20px; display: none;
}
.controls-in-heading .highslide-controls .highslide-full-expand a.disabled {
	background-position: -100px -40px !important; display: none;
}
.controls-in-heading .highslide-controls .highslide-close a {
	background-position: -120px 0px;
}
.controls-in-heading .highslide-controls .highslide-close a:hover {
	background-position: -120px -20px;
}
.text-controls .highslide-controls {
	background: none; margin: 0px; width: auto; height: auto; text-align: center;
}
.text-controls ul {
	background: none; left: 0px; height: auto; position: static;
}
.text-controls .highslide-move {
	display: none;
}
.text-controls li {
	background-position: right top !important; padding: 0px; width: auto; margin-left: 15px; display: block; background-image: url("graphics/controlbar-text-buttons.png");
}
.text-controls a {
	background-position: left top !important; left: -10px; width: auto; height: auto; text-decoration: none !important; display: block; position: relative; background-image: url("graphics/controlbar-text-buttons.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent;
}
.text-controls a span {
	background: url("graphics/controlbar-text-buttons.png") no-repeat; margin: 1px 2px 1px 10px; padding: 1px 0px 1px 18px; height: 18px; color: rgb(51, 51, 51); line-height: 18px; font-family: "Trebuchet MS", Arial, sans-serif; font-size: 12px; font-weight: bold; display: block; white-space: nowrap; min-width: 4em;
}
.text-controls .highslide-next {
	margin-right: 1em;
}
.text-controls .highslide-full-expand a span {
	margin: 1px 0px; padding: 1px 0px 1px 10px; display: none; min-width: 0px;
}
.text-controls .highslide-close a span {
	min-width: 0px;
}
.text-controls a:hover span {
	color: black;
}
.text-controls a.disabled span {
	color: rgb(153, 153, 153);
}
.text-controls .highslide-previous span {
	background-position: 0px -40px;
}
.text-controls .highslide-previous a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-previous a.disabled span {
	background-position: 0px -140px;
}
.text-controls .highslide-play span {
	background-position: 0px -60px;
}
.text-controls .highslide-play a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-play a.disabled span {
	background-position: 0px -160px;
}
.text-controls .highslide-pause span {
	background-position: 0px -80px;
}
.text-controls .highslide-next span {
	background-position: 0px -100px;
}
.text-controls .highslide-next a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-next a.disabled span {
	background-position: 0px -200px;
}
.text-controls .highslide-full-expand span {
	background: none; display: none;
}
.text-controls .highslide-full-expand a.disabled {
	background-position: left top !important; display: none;
}
.text-controls .highslide-close span {
	background-position: 0px -120px;
}
.highslide-thumbstrip {
	height: 100%;
}
.highslide-thumbstrip div {
	overflow: hidden;
}
.highslide-thumbstrip table {
	padding: 0px; border-collapse: collapse; position: relative;
}
.highslide-thumbstrip td {
	padding: 1px;
}
.highslide-thumbstrip a {
	
}
.highslide-thumbstrip img {
	margin: 0px auto; border: 1px solid gray; border-image: none; display: block;
}
.highslide-thumbstrip .highslide-active-anchor img {
	visibility: visible;
}
.highslide-thumbstrip .highslide-marker {
	border: 0px solid transparent; width: 0px; height: 0px; position: absolute;
}
.highslide-thumbstrip-horizontal div {
	width: auto;
}
.highslide-thumbstrip-horizontal .highslide-scroll-up {
	left: 3px; top: 3px; width: 25px; height: 42px; display: none; position: absolute;
}
.highslide-thumbstrip-horizontal .highslide-scroll-up div {
	background: url("graphics/scrollarrows.png") no-repeat left; height: 42px; margin-bottom: 10px; cursor: pointer;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down {
	top: 3px; width: 25px; height: 42px; right: 3px; display: none; position: absolute;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down div {
	background: url("graphics/scrollarrows.png") no-repeat right; height: 42px; margin-bottom: 10px; cursor: pointer;
}
.highslide-thumbstrip-horizontal table {
	margin: 2px 0px 10px;
}
.highslide-viewport .highslide-thumbstrip-horizontal table {
	margin-left: 10px;
}
.highslide-thumbstrip-horizontal img {
	width: auto; height: 40px;
}
.highslide-thumbstrip-horizontal .highslide-marker {
	top: 47px; border-bottom-color: gray; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-bottom-style: solid;
}
.highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	margin-left: 10px;
}
.dark .highslide-thumbstrip-horizontal .highslide-marker {
	border-bottom-color: white !important;
}
.highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	border-bottom-color: white !important;
}
.highslide-thumbstrip-vertical div {
	height: 100%;
}
.highslide-thumbstrip-vertical a {
	display: block;
}
.highslide-thumbstrip-vertical .highslide-scroll-up {
	left: 0px; top: 0px; width: 100%; height: 25px; display: none; position: absolute;
}
.highslide-thumbstrip-vertical .highslide-scroll-up div {
	background: url("graphics/scrollarrows.png") no-repeat top; height: 25px; margin-left: 10px; cursor: pointer;
}
.highslide-thumbstrip-vertical .highslide-scroll-down {
	left: 0px; width: 100%; height: 25px; bottom: 0px; display: none; position: absolute;
}
.highslide-thumbstrip-vertical .highslide-scroll-down div {
	background: url("graphics/scrollarrows.png") no-repeat bottom; height: 25px; margin-left: 10px; cursor: pointer;
}
.highslide-thumbstrip-vertical table {
	margin: 10px 0px 0px 10px;
}
.highslide-thumbstrip-vertical img {
	max-width: 60px;
}
.highslide-thumbstrip-vertical .highslide-marker {
	left: 0px; margin-top: 8px; border-left-color: gray; border-top-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-left-style: solid;
}
.dark .highslide-thumbstrip-vertical .highslide-marker {
	border-left-color: white;
}
.highslide-viewport .highslide-thumbstrip-vertical .highslide-marker {
	border-left-color: white;
}
.highslide-viewport .highslide-thumbstrip-float {
	overflow: auto;
}
.highslide-thumbstrip-float ul {
	margin: 2px 0px; padding: 0px;
}
.highslide-thumbstrip-float li {
	list-style: none; margin: 0px 2px; height: 60px; float: left; display: block;
}
.highslide-thumbstrip-float img {
	border-color: silver; display: inline; max-height: 56px;
}
.highslide-thumbstrip-float .highslide-active-anchor img {
	border-color: black;
}
.highslide-thumbstrip-float .highslide-scroll-up div {
	display: none;
}
.highslide-thumbstrip-float .highslide-scroll-down div {
	display: none;
}
.highslide-thumbstrip-float .highslide-marker {
	display: none;
}
